{{#isFormParam}}@FormParam("{{baseName}}"){{>beanValidationCore}}{{>parameterValidation}} @ApiParam(value = "{{{description}}}"{{#required}}, required=true{{/required}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}){{#notFile}} {{#defaultValue}} @DefaultValue("{{{defaultValue}}}"){{/defaultValue}} {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}/* TODO FileUpload is not yet done. This code might fail. */ File {{paramName}}{{/isFile}}{{/isFormParam}}